on: 
  pull_request:
    paths:
      - 'firoptions/**'
      - '.github/workflows/core.yml'
name: Analytics + Core
jobs:
  swift-build:
    name: Swift build
    runs-on: macOS-latest
    strategy:
        matrix:
          destination: ['platform=iOS Simulator,OS=13.5,name=iPhone 11']
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Build Swift snippets
        run: |
          cp .github/GoogleService-Info-CI.plist firoptions/GoogleService-Info.plist
          cd firoptions
          pod install --repo-update
          xcodebuild -workspace FiroptionConfiguration.xcworkspace clean build -scheme FiroptionConfiguration -destination "${destination}" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO
        env: 
         destination: ${{ matrix.destination }}
